@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #131819;
  color: #ffffff;
}

/* LOGIN PAGE STYLES */

.wrapper {
  width: 50%;
  border: 1px groove white;
  padding: 8%;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  border-radius: 12px;
}
h1 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Helvetica Neue";
  margin-bottom: 15px;
  color: white;
}
.form label {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  color: white;
}

.form input {
  border: 1px solid white;
  background-color: #131819;
  color: #ef7917;
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  margin-top: 20px;
  padding: 9px;
  font-size: 15px;
  margin: 7px;
  width: 80%;
}
button {
  width: 100%;
  margin-top: 20px;
  background: #ff5722;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
  color: #e1f4f3;
  background-color: #ec524b;
}

/* NAVIGATION BAR */
.navigation {
  display: flex;
  padding: 5px 8px;
  background-color: #706c61;
  align-items: center;
  justify-content: center;
}
.username {
  font-size: 30px;
  background-color: transparent;
  margin: 10px;
  padding-top: 5px;
  margin-right: 4%;
}

.search-box {
  flex-grow: 1;
  display: flex;
  position: relative;
  background-color: transparent;
}
.search-box input {
  background: transparent;
  border: 2px solid #131819;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  width: 50%;
  font-size: 16px;
  padding: 25px;
  box-sizing: border-box;
  flex-grow: 0.8;
}
.search-box input:focus {
  outline: none;
}
::placeholder {
  color: whitesmoke;
}

.logout {
  font-size: 20px;
  background-color: #706c61;
  text-decoration: none;
}
.logout:active {
  color: rgb(255, 94, 0);
}
.logout:hover {
  cursor: pointer;
  transform: scale(1.1);
}
a {
  text-decoration: none;
}

.frame-container {
  width: 100%;
  height: 100%;
}
.frame-container .frame-1 {
  height: 92vh;
  background-color: blue;
}
.frame-container .frame-2 {
  height: 92vh;
  float: right;
  background-color: Red;
}

/* RESPONSIVENESS CONTROL */
@media only screen and (max-width: 360px) {
  .frame-1 {
    width: 48.5vw;
  }
  .frame-2 {
    width: 48.5vw;
  }
}

@media only screen and (min-width: 361px) and (max-width: 614px) {
  .frame-1 {
    width: 48.9vw;
    background-color: red;
  }
  .frame-2 {
    width: 48.8vw;
  }
}

@media only screen and (min-width: 615px) and (max-width: 768px) {
  .frame-1 {
    width: 49.2vw;
  }
  .frame-2 {
    width: 49.2vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .frame-1 {
    width: 49.4vw;
  }
  .frame-2 {
    width: 49.5vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .frame-1 {
    width: 49.4vw;
  }
  .frame-2 {
    width: 49.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .frame-1 {
    width: 49.3vw;
  }
  .frame-2 {
    width: 49.1vw;
  }
}
